In [1]:
import pandas as pd

In [8]:
df = pd.read_csv("FIFA21_official_data.csv")
df = df[~df[["Name", "Age", "Weight", "Height", "Overall"]].isna().any(axis=1)]

In [28]:
def conv_feet_to_meters(x):
    foot, inch = x.split("'")
    return int(foot) * 0.3048 + int(inch) * 0.0254


def process(df: pd.DataFrame):
    df = df[~df[["Name", "Age", "Weight", "Height", "Overall"]].isna().any(axis=1)]
    df = df.loc[:, ["Name", "Age", "Weight", "Height", "Overall"]]
    df["Height"] = df["Height"].apply(conv_feet_to_meters)
    df["Weight"] = df["Weight"].str.strip("lbs").apply(lambda x: int(x) * 0.45359237)
    df["BMI"] = df["Weight"] / (df["Height"] * df["Height"])
    k1, k2, k3, k4, k5 = df["Age"].mean(), df["Weight"].mean(), df["Height"].mean(), \
        df["Overall"].mean(), df["BMI"].mean()
    df["Normality"] = (
        (df["Age"] - k1) ** 2 + (df["Weight"] - k2) ** 2 + (df["Height"] - k3) ** 2 + (
            df["Overall"] - k4) ** 2 + (df["BMI"] - k5) ** 2) ** 0.5
    res = df.sort_values("Normality").iloc[:3]
    return res[["Weight", "Height", "Age", "Overall", "BMI", "Name", "Normality"]]

In [29]:
process(df)

                Name  Age     Weight  Height  Overall        BMI  Normality
540   Manu Trigueros   28  74.829932  1.7780       78  23.670740   0.682257
576         J. Bořil   29  74.829932  1.7526       78  24.361820   1.421122
617     D. Cheryshev   29  73.922902  1.7780       77  23.383822   1.465108

In [13]:
def conv_feet_to_meters(x):
    foot, inch = x.split("'")
    return int(foot) * 0.3048 + int(inch) * 0.0254

df["Height_m"] = df["Height"].apply(conv_feet_to_meters)

In [12]:
df["Weight_kg"] = df["Weight"].str.strip("lbs").apply(lambda x: int(x) / 2.205)

In [17]:
df["BMI"] = df["Weight_kg"] / (df["Height_m"] * df["Height_m"])

In [19]:
df["BMI"].mean()

23.230478571474286